<!DOCTYPE html>
<html lang="en" ng-app="manchesterFacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manchester United Facts and Quiz</title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h1>Manchester United Facts Quiz</h1>
            <h3>
                Learn all about the current Manchester United Players before you decide to take on the
                <strong>Manchester United Quiz</strong>
            </h3>
        </div>

        <!-- LIST CONTROLLER -->
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Search...." class="form-control" ng-model="list.search">
            </form>

            <div class="row">
                <div ng-repeat="player in list.data | filter:list.search" class="col-sm-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <img ng-src="{{player.img}}" class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-sm-6">
                                <h4>{{player.firstName}} {{player.lastName}} </h4>
                                <p><strong>Birth Date:</strong> {{player.birthdate}}</p>
                                <p><strong>Birth Place:</strong> {{player.birthplace}}</p>
                                <p><strong>Position:</strong> {{player.position}}</p>
                                <p><strong>Bio :</strong> <small>{{player.bio}}</small></p>
                                <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#player-info" ng-click="list.changeActivePlayer(player)">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="player-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h2>{{list.activePlayer.firstName}} {{list.activePlayer.lastName}}</h2>
                            <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img ng-src="{{list.activePlayer.imgAlt}}" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-8 col-md-offset-2">
                                    <h3>Wikipedia Article</h3>
                                    <p>{{list.activePlayer.extendedBio}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="col-md-8 col-md-offset-2 btn btn-lg btn-danger center top-buffer bottom-buffer" ng-click="list.activateQuiz()">Start Quiz</button>
            </div>
        </div><!-- END LIST CONTROLLER -->

        <!-- QUIZ CONTROLLER -->
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <!-- PROGRESS BAR -->
            <div class="row">
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="question in quiz.dataService.quizQuestions" ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected == null}" ng-click="quiz.setActiveQuestion($index)">
                            <span class="glyphicon" ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected == null}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                         <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
            </div> <!-- END PROGRESS BAR -->

            <!-- QUESTIONS -->
            <div class="row">
                <div class="alert alert-danger" ng-show="quiz.error">
                    Error you have not answered all of the questions
                    <button class="close" ng-click="quiz.error = false">&times;</button>
                </div>
                <h3 ng-hide="quiz.finalise">Question</h3>
                <div class="well well-sm" ng-hide="quiz.finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}</h4>
                        
                            <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <h4 class="answer" ng-class="{'bg-danger': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">{{answer.answer}}</h4>
                                </div>
                            </div>
                            <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                                <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                    <div class="image-answer" ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                        <img ng-src="{{answer.answer}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-warning pull-right" ng-click="quiz.questionAnswered()" ng-hide="quiz.finalise">Continue</button>
                <div class="well well-sm class="col-xs-12"" ng-show="quiz.finalise">
                        <h3>Are you sure you want to submit your answers?</h3>
                        <button class="btn btn-succes" ng-click="quiz.finaliseAnswers()">Yes</button>
                        <button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
                </div>
            </div> <!-- END QUESTIONS -->
        </div><!-- END QUIZ CONTROLLER -->
            
        <!-- RESULTS CONTROLLER -->    
        <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
            <!-- RESULTS BAR -->
            <div class="row">
                <div class="col-xs-8">
                    <h2>Results:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="question in results.dataService.quizQuestions" ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}" ng-click="results.setActiveQuestion($index)">
                            <span class="glyphicon" ng-class="{'glyphicon-ok': question.correct === true, 'glyphicon-remove': question.correct === false}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <p>Correct</p>
                        </div>
                         <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <p>Incorrect</p>
                        </div>
                    </div>
                </div>
            </div> <!-- END RESULTS BAR -->
            <!-- QUIZ SCORE -->
            <div class="row">
                <div class="col-xs-12 top-buffer">
                    <h2>You Scored {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>
                    <h2><strong>{{results.calculatePercentage() | number:2}}%</strong></h2>
                </div>
            </div>
            <!-- QUESTIONS  RESULTS-->
            <div class="row">
                <div class="alert alert-danger" ng-show="quiz.error">
                    Error you have not answered all of the questions
                    <button class="close" ng-click="quiz.error = false">&times;</button>
                </div>
                <h3>Question</h3>
                <div class="well well-sm" ng-hide="quiz.finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{results.activeQuestion+1 + ". " + results.dataService.quizQuestions[results.activeQuestion].text}}</h4>
                        
                            <div class="row" ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'text'">
                                <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                    <h4 class="answer" ng-class="results.getAnswerClass($index)">{{answer.answer}}
                                        <p class="pull-right" ng-show="($index !== results.quizMetrics.correctAnswers[results.activeQuestion]) && ($index === results.dataService.quizQuestions[results.activeQuestion].selected)">Your Answer</p>
                                        <p class="pull-right" ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">Correct Answer</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="row" ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'image'">
                                <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                    <div class="image-answer" ng-class="results.getAnswerClass($index)">
                                        <img ng-src="{{answer.answer}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> <!-- END QUESTIONS RESULTS-->
            <button class="col-md-8 col-md-offset-2 btn btn-lg btn-primary center top-buffer bottom-buffer" onClick="window.location.reload()">Start Over</button>
        </div><!-- END RESULTS CONTROLLER -->

    </div>
    <!-- THIRD PARTY SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataService.js"></script>
</body>
</html>